<main>
  <div class="{{ nota.tipo }}">
    <h1>{{ nota.titulo }}</h1>
    <p>{{ nota.conteudo }}</p>
  </div>


  <div class="area_texto_criada">

    <textarea name="" id="nota_criada" cols="15" rows="5">nota criada com sucesso</textarea>
    <a class="card-small" href="../nova-nota/nova-nota.component.html">
      <img src="../../../assets/imagens/editar.png" alt="editar">
    </a>
    <a class="card-small" href="../nova-nota/nova-nota.component.html">
      <img src="../../../assets/imagens/excluir.png" alt="excluir">
    </a>
  </div>

</main>
