
<main>
  <div class="card-container">
    <button routerLink="/nova-nota" class="card card-small">
      <img src="../../../assets/imagens/add.png" alt="adicionar">
      <span>Adicionar notas</span>
    </button>
    <!-- provisorio ate criar a nova nota
      <button class="card card-small">
      <img src="../../../assets/imagens/editar.png" alt="editar">
      <span>Editar nota</span>
    </button>

    <button class="card card-small">
      <img src="../../../assets/imagens/excluir.png" alt="excluir">
      <span>Excluir</span>
    </button>-->
  </div>
</main>
