
    <main>
      <div class="area_texto">
        <input type="textarea" [(ngModel)]="nota.conteudo" name="" id="nota" cols="60" rows="15">
      </div>


      <div class="card-container">
        <a class="card card-small" href="../componentes/cabecalho/menu.component.html">
          <img src="../../../assets/imagens/volta.png" alt="voltar">
          <span>Voltar</span>
        </a>
        <button routerLink="" class="card card-small">
          <img src="../../../assets/imagens/excluir.png" alt="excluir">
          <span>Excluir</span>
        </button>

        <button (click)="criarNota()" class="card card-small">
          <img src="../../../assets/imagens/salva.png" alt="salvar">
          <span>Salvar</span>
        </button>

      </div>
    </main>



